@import "src/theme/variables";

.filter-form {
  padding: 0 $padding-small $padding-medium $padding-small;

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: $margin-small;

    @media (min-width: 500px) {
      flex-direction: row;
    }
    fa-input {
      flex-grow: 1;
      font-weight: 900;
      font-size: $font-size-default;
    }
  }

  .actions {
    display: flex;
    gap: 5px;
    justify-content: center;

    button {
      padding: $padding-small $padding-medium;
      border: none;
      cursor: pointer;
      border-radius: 11px;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.1);
      }
      &:focus {
        transform: scale(0.95);
      }
      &:blur {
        transform: scale(1);
      }
    }

    button:first-child {
      background-color: $background-color-repos;
    }

  }
}
