<form class="filter-form" [formGroup]="filterForm" (ngSubmit)="filter()">
  <h3>Filter (results: {{ commitList.length }})</h3>

  <div class="inputs">
    <fa-input icon="sort">
      <select formControlName="startDate">
        <option [value]="null">Select start date</option>
        <option *ngFor="let commit of (commitList | filterByDate:selectedDates)" [value]="commit.creation">{{commit.creation | date:'medium'}}</option>
      </select>
    </fa-input>

    <fa-input icon="sort">
      <select  formControlName="endDate">
        <option [value]="null">Select end date</option>
        <option *ngFor="let commit of (commitList | filterByDate:selectedDates)" [value]="commit.creation">{{commit.creation | date:'medium'}}</option>
      </select>
    </fa-input>
  </div>

  <div class="actions">
    <button type="submit"><p>Filter</p></button>
    <button type="button" (click)="reset()"><p>Reset</p></button>
  </div>

  <mat-error *ngIf="showError">
    <p>
      Missing required values
    </p>
  </mat-error>
  <mat-error *ngIf="noResults">
    <p>
      No results on that specified time
    </p>
  </mat-error>

  <mat-error *ngIf="invalidDateOrder">
    <p>
      The specified order is incorrect
    </p>
  </mat-error>
</form>
