@import "src/theme/variables";
@import "src/theme/animations.scss";

section {
  max-width: 128rem;
  margin: auto;
  h2 {
    text-align: left;
  }

  .proyect-list {
    margin: auto;
    margin-bottom: $margin-large;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: $margin-large;
    align-items: center;
    justify-items: center;
    width: 100%;
    @media (min-width: 540px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
