@import "src/theme/variables";
@import "src/theme/animations";

.circle {
  position: relative;
  border: 1px solid #000;
  border-radius: 1000px;
  width: calc(42.5rem / 4);
  height: calc(42.5rem / 4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  padding: $padding-xs;
  background-color: transparent;
  animation: fadeInLeft 0.3s linear;
  transition: all 0.3s;

  @media (min-width: 768px) {
    width: calc(42.5rem / 2);
    height: calc(42.5rem / 2);
  }

  p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: $font-size-sm;
    @media (min-width: 768px) {
      font-size: $font-size-xl;
    }
  }
}

.circle::before {
  content: "";
  display: block;
  border-radius: 1000px;
  width: calc(42.5rem / 4);
  height: calc(42.5rem / 4);
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: $background-color-repos;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  z-index: -1;

  @media (min-width: 768px) {
    top: 20px;
    left: 20px;
    width: calc(42.5rem / 2);
    height: calc(42.5rem / 2);
  }


}
