@import "src/theme/variables";
@import "src/theme/animations";

.circle {
  position: relative;
  border: 1px solid #000;
  border-radius: 1000px;
  width: calc(42.5rem / 4);
  height: calc(42.5rem / 4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  padding: $padding-xs;
  background-color: transparent;
  animation: fadeInLeft 0.3s linear;
  transition: all 0.3s;
  @media (min-width: 1280px) {
    width: calc(42.5rem / 3);
    height: calc(42.5rem / 3);
  }

  @media (min-width: 1440px) {
    width: calc(42.5rem / 2.5);
    height: calc(42.5rem / 2.5);
  }

  p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: $font-size-xs;
  }
}

.circle::before {
  content: "";
  display: block;
  border-radius: 1000px;
  width: calc(42.5rem / 4);
  height: calc(42.5rem / 4);
  position: absolute;
  top: 10px;
  left: 10px;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  z-index: -1;

  @media (min-width: 1280px) {
    top: 20px;
    left: 20px;
    width: calc(42.5rem / 3);
    height: calc(42.5rem / 3);
  }

  @media (min-width: 1440px) {
    width: calc(42.5rem / 2.5);
    height: calc(42.5rem / 2.5);
  }


}

.circle.color-repos::before {
    background-color: $background-color-repos;
}

.circle.color-proyects-priority1::before {
  background-color: $background-color-proyects-priority1;
}

.circle.color-proyects-priority2::before {
  background-color: $background-color-proyects-priority2;
}

.circle.color-proyects-priority3::before {
  background-color: $background-color-proyects-priority3;
}


.circle.color-danger::before {
  background-color: $background-color-danger;
}

.circle.color-danger {
  cursor: auto;
}


.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.loader__icon {
  font-size: 24px;
  color: $color-secondary;
  animation: spin 2s linear infinite;

  @media (min-width: 768px) {
    font-size: 48px;
  }

}

.loader__text {
  font-size: 32px;
  color: $color-secondary;
  margin-top: 20px;

  animation: tilt 0.5s linear infinite;
}
