@import "src/theme/variables";

.title {
  position: relative;
  h2 {
    margin-top: $margin-small;
    a {
        font-family: $font-family-secondary !important;
        font-size: $font-size-h2-mobile;
        font-weight: 400;
    }
  }
  h3 {
    text-align: center;
  }
  .close {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 5px;
    outline: none;
    color: #000;
    font-weight: 900;
    font-size: $font-size-xl;
    padding: 0 !important;
  }
}
