
<section>

  <article class="search-container">

    <form [formGroup]="filterForm">

      <fa-input icon="magnifying-glass">
        <input type="search" placeholder="Filter by name" formControlName="search"/>
      </fa-input>


      <fa-input icon="sort">
        <select formControlName="sort">
          <option value="A-Z">A-Z</option>
          <option value="Z-A">Z-A</option>
        </select>
      </fa-input>

    </form>

  </article>


  <article class="repo-list" *ngIf="repoList.length">
    <repo-item *ngFor="let repo of (repoList | sortRepos:sortingValue)" [repo]="repo"></repo-item>
  </article>

</section>
