
<section *ngIf="!loading; else spinner">

  <h2>Repositories</h2>

  <article class="repo-list" *ngIf="repoList.length">
    <ng-container *ngFor="let repo of (repoList | filterByWord:searchTerm | sortRepos:sortingValue)">
      <repo-item *ngIf="repo && repo.commits && repo.commits.length && repo.commits[repo.commits.length - 1]?.creation"  [repo]="repo"></repo-item>
    </ng-container>
  </article>

</section>

<ng-template #spinner>
  <div class="loader">
    <i class="loader__icon fa fa-cog"></i>
    <div class="loader__text">Please have patience, this will take a while. In the mean time you can check my projects</div>
  </div>
</ng-template>
