
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$github-api-proj-client-primary: mat.define-palette(mat.$indigo-palette);
$github-api-proj-client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$github-api-proj-client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$github-api-proj-client-theme: mat.define-light-theme((
  color: (
    primary: $github-api-proj-client-primary,
    accent: $github-api-proj-client-accent,
    warn: $github-api-proj-client-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($github-api-proj-client-theme);

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.css';
@import "./theme/variables";
@import "./theme/utilities.scss";

@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";


* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: $line-height-small;
  font-weight: inherit;
  font-family: $font-family-primary;
  font-size: inherit;
  color: inherit;
}

html {
  font-size: 62.5%;
  &::-webkit-scrollbar {
    width: 0.2rem !important;
  }

  @media (min-width: 768px) {
    font-size: 70%;
  }

  // @media (min-width: 1024px) {
  //   font-size: 90%;
  // }
}

body {
  box-sizing: border-box;
  font-weight: $weight-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $font-color-1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
li,
a {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-secondary !important;
  color: $color-primary;
}

p,
span,
label,
li,
a {
  font-family: $font-family-primary !important;
  color: $color-secondary;
}

h1 {
  font-size: $font-size-h1-mobile;
  line-height: $line-height-big;
  margin-bottom: $margin-small;
  text-align: center;
  @media (min-width: 768px) {
    margin-bottom: $margin-medium;
  }
}

h2 {
  font-size: $font-size-h2-mobile;
  line-height: $line-height-big;
  margin-bottom: $margin-medium;
  text-align: center;
  @media (min-width: 768px) {
    margin-bottom: $margin-large;
  }
}

h3 {
  font-size: $font-size-h3-mobile;
  line-height: $line-height-normal;
  margin-bottom: $margin-small;
  @media (min-width: 768px) {
    margin-bottom: $margin-medium;
  }
}

p, a {
  font-size: $font-size-default;
  line-height: $line-height-big;
  text-decoration: none;
}

.expansion-panel {
  max-height: 90vh;
  overflow-y: auto;
  max-width: 768px !important;
  width: 100%;
}

mat-error {
  p {
    color: $color-danger;
    font-size: $font-size-sm;
    text-align: center;
  }
}

.swiper-button-prev, .swiper-button-next {
  color: $color-primary;
  display: none;
  @media (min-width: 525px) {
    display: flex;
  }
}
